<div class="d-flex flex-mb2">
  <div class="d-flex me-auto">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/">抽獎</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/hist">記錄</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active disabled" aria-current="page" href="/rule"
          >玩法說明</a
        >
      </li>
    </ul>
  </div>
  <div class="p2"><%- color_btn %></div>
</div>
<div></div>
